.image {
    height: 200px;
    width: 200px;
    align-items: center;
    display: flex;
}

.description {
    height: 200px;
    width: 200px;
    background-color: darkslategray;
    color: white;
    align-items: center;
    display: flex;
}

.fullPost {
    height: 280px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 8px;
    transition: box-shadow 0.1s ease;
    display: inline-block;
}

.fullPost:hover {
    box-shadow: 3px 4px 3px rgb(221, 221, 221);
  }